:root {
  --rock-color: #F3684F;
  --paper-color: #5EBEBB;
  --scissors-color: #F7BF3D;
  --button-text-color: #fff;
  --reset-color: blue;
  --disabled-button-text-color: #666;
  --disabled-button-color: #c0c0c0;
  --scoreboard-background: #444;
  --scoreboard-text-color: #fff;
  --footer-text-color: #999;  
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-top: 30px;
}

header h1 {
  margin: 10px 0;
}


.selection {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}

#rock {
  background-color: var(--rock-color);
}

#paper {
  background-color: var(--paper-color);
}

#scissors {
  background-color: var(--scissors-color);
}

#reset-btn {
  background-color: var(--reset-color);
}

.btn {
  color: var(--button-text-color);
  padding: 10px;
  min-width: 120px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  filter:brightness(90%);
}

.btn-disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--disabled-disabled-button-text);
  background-color: var(--disabled-button-color)!important;
}

.scoreboard {
  position: relative;
  overflow: hidden;
}

.scoreboard div:first-child{
  white-space: pre-wrap;
  padding: 20px 5px;
  width: 440px;
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 14px;
  background-color: var(--scoreboard-background);
  color: var(--scoreboard-text-color);
  border-radius: 10px;
}

.playagain {
  margin: 20px 0;
  visibility: hidden;
}

.playagain-visible {
  visibility: visible;
}

.animation-area {
  position: absolute;
  top: 30px;
  z-index:1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.icon {
  width: 50px;
  height: 50px;
}

#player-icon {
  margin-left: -60px;
}

#computer-icon {
  margin-right: -60px;
}

.move-left {
  position:relative;
  -webkit-animation: backandforth-left 2s ease 0s;
  -webkit-animation-iteration-count:1;
  animation: backandforth-left 2s ease 0s;
  animation-iteration-count:1;
}

.move-right {
  position:relative;
  -webkit-animation: backandforth-right 2s ease 0s;
  -webkit-animation-iteration-count:1;
  animation: backandforth-right 2s ease 0s;
  animation-iteration-count:1;
}

@-webkit-keyframes backandforth-left {0%{left:0;} 50%{left:15%;} 100%{left:0;}}
@keyframes backandforth-left {0%{left:0;} 50%{left:30%;} 100%{left:0;}}
@-webkit-keyframes backandforth-right {0%{right:0;} 50%{right:15%;} 100%{right:0;}}
@keyframes backandforth-right {0%{right:0;} 50%{right:30%;} 100%{right:0;}}

footer {
  border-top: 1px solid var(--footer-text-color);
  padding: 5px;
  color: var(--footer-text-color);
}
